@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Bungee');

/*body {
    box-sizing: border-box;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    min-width: 768px;
    width: auto !important;
}*/

@media (max-width: 700px) {
    .hidden-mobile {
        display: none;
    }
}

a, button, span, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    background-color: #081c15;
    
}

.navbar_left{
    display: inline-block;
    margin-right: auto;
    max-height: 100px;
}

.navtitle{
    font-family: "Bungee", serif;
    font-size: min(min(9vw, 45px), calc(100vw - 200px));
    color: #52b788;
    margin-left: min(15px, 2vw);
    margin-top: 16px;
    /*padding: 0px 15px;*/
    border-color: rgb(15,187,55);
    float: right;
    transition: all 0.3s ease 0s;
}

.navtitle:hover {
    color: #2d6a4f;
}

.navlogo {
    max-height: 84px;
    margin-top: 16px;
    cursor: pointer;
}

.navbar .nav_ep button {
    margin-left: min(10px, 2vw);
    margin-top: 12px;
    padding: min(9px, 2vw) min(25px,4vw);
    background-color: rgba(64, 145, 108,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar .nav_ep button:hover {
    background-color: rgba(64, 145, 108,0.7);
}

.navbar .nav_options {
    height: 100%;
}

.navbar .nav_options .nav_links{
    list-style:none;
    height: 100%;
}


.navbar .nav_options .nav_links div {
    height: 100%;
    line-height: 75px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.navbar .nav_options .nav_links div a{
    color: white;
    font-size: 22px;
    cursor: pointer;
    padding-left:23px;
    padding-right:22px;
    height: 100px;
    display:inline-flex ;
    align-items: center;
    text-align:center;
    border: none;
}

.navbar .nav_options .nav_links a:hover {
    background-color: #40916C;
}

