a, button, span, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    align-items: center;
    height: 100px;
    background-color: #081c15;
}

.navbar-left{
    display: flex;
    max-height: 100px;
}

.navbar-right{
    display: inline-block;
    max-height: 100px;
}

.navtitle{
    font-family: "Bungee", serif;
    font-size: min(min(9vw, 45px), calc(100vw - 200px));
    color: #52b788;
    margin-left: min(15px, 2vw);
    margin-top: 5px;
    border-color: rgb(15,187,55);
    float: right;
    transition: all 0.3s ease 0s;
}

.navtitle:hover {
    color: #2d6a4f;
}

.navlogo {
    max-height: 84px;
    cursor: pointer;
}


.navbar-collapse {
    z-index: 3;
    background-color: #081c15;
    top: 100px;
    position: fixed;
    width: inherit;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.nav-btn {
    color: white;
    cursor: pointer;
    display:inline-flex ;
    align-items: center;
    text-align:center;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    height: 65px;
}

.dropbtn {
    width: 190px;
}

.dropbtn span{
    color: #ffffff;
}

.dropbtn .material-icons {
    padding-right: 10px;
    font-size: 35px;
}

.dropbtn .userbtn_txt {

    font-size: 21px;
}

.nav-btn:hover , .nav-btn:focus {
    background-color: #40916C;
}

.navbar .nav_ep button {
    margin-left: min(10px, 2vw);
    margin-top: 12px;
    padding: min(9px, 2vw) min(25px,4vw);
    background-color: rgba(64, 145, 108,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-item {
    float: right;
}

.navbar .nav_ep button:hover {
    background-color: rgba(64, 145, 108,0.7);
}

.material-icons {
    font-size: 2em;
}

a:hover {
    color: white !important;
}

