.navbar_right .notifications {
}

.notifications .modalbtn {
    margin-top: 35%;
    cursor: pointer;
}

.notifications .modalbtn .material-icons {
    color:#ffffff;
    font-size: 50px;
}

.modalbtn:hover , .modalbtn:focus {
    color: #40916C;
}

/* La fenêtre caché */
.modal {
    display: none;
    position: fixed;
    z-index: 9999; /*En avant*/
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%; /* Page complète */
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: all 0.15s ease 0s;
}
  
.modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;  /* Taille de la boîte */
    height: 90%;
    color: #000000;
}

.modal .modal-titre {
    font-size: 48px;
    font-style: bold;
    padding-left: 5%;
}

.modal .lu span {
    color: #212529!important;
}
  
/* The Close Button */
.modal .close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 4.6em;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover {
    color: #000000;
}



.modal .modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.modal .btn_modal {
    height: 65px;
    display: flex;
    transition: all 0.05s ease 0s;
    border: 1px solid #000000;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 10px
}

.modal .btn_modal:hover {
    background-color: #95D5B2;
}

.modal .btn_modal span {
    display: flex;
}

.modal .btn_modal:hover > span {
    color: #ffffff;
}


.modal .btn_modal span {
    color: #1B4332;
}

.modal .btn_modal .material-icons {
    font-size: 40px;
    align-items: center;
}

.modal .btn_modal .btn-text{
    font-size: 18px;
    margin-top: 12px;
    text-align: center;
}

.modal .notifs-content {
    width: 100%;
    height: 65%;
    margin-top: 38px;
    overflow: auto;
}


.modal .modal_item {
    width: 93.5%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid #000000;
    margin: 20px 3%;
}

.modal .notifs-content .lu {
    background-color: #ebebeb;
}

.modal .notifs-content .non-lu {
    background-color: #40916C;
}

.modal .notifs-content .lu:hover {
    background-color: #ebebeb;
}

.modal .notifs-content .non-lu:hover {
    background-color: #40916C;
}

.modal .modal_item .left-side {
    display: block;
    max-width: 100px;
    max-height: 100px;
    border: 1px #000000;
    border-style: none solid none none;
    padding: 0 0 0 0;
}

.small-break-container {
    margin: 0;
    padding: 0;
}

.modal .modal_item .left-side .material-icons {
    display: block;
    font-size: 65px;
    padding: 17px;
    margin-bottom: 15px;
    margin: 0 0 0 0;
}

.modal .modal_item .right-side {
    display: inline-block;
    height: 100px;
    width: 100%;
}

.modal .modal_item .top-side {
    display: block;
    height: 38px;
    border: 2px black;
    width: 100%;
    border-style: none none solid none;
    padding: 0;
    margin: 0;
}

.modal .modal_item .top-side .msg_title {
    display: inline-block;
    font-size: 25px;
}

.modal .modal_item .bottom-side {
    display: block;
    height: calc(100px - 40px);
    width: 100%;
    padding: 0;
    margin: 0;
}

.modal .modal_item .bottom-side .user_msg {
    font-size: 18px;
    display: inline-block;
    line-height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 50px);
    padding: 0 0 0 10px;
}

.modal .modal_item .del_msg {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 6px;
}

.modal .modal_item .bottom-side .del_msg .material-icons {
    font-size: 40px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #000000;
}

.material-icons {
    cursor: pointer;
}
