 .profile {
    height: 100%;
    position: relative;
    display: inline-block;
    width: 200px;
}

.nav-btn {
    color: white;
    font-size: 16px;
    cursor: pointer;
    display:inline-flex ;
    align-items: center;
    text-align:center;
    border: none;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    height: 65px;
}

.dropbtn {
    width: 190px;
}

.profile .dropbtn span{
    color: #ffffff;
}

.profile .dropbtn .material-icons {
    padding-right: 10px;
    font-size: 35px;
}

.profile .dropbtn .userbtn_txt {
    line-height: 90px;
    font-size: 21px;
}

.nav-btn:hover , .nav-btn:focus {
    background-color: #40916C;
}
  
.profile .drop-content {
    display: none;
    position: absolute;
    background-color: #eceaea;
    border-radius: 5px;
    width: 190px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 5px 0 5px;
    margin: 0px 10px 0 10px;
}
  
.profile .drop-content a {
    color: black;
    text-decoration: none;
    display:block ;
    font-size: 1.1em;
}

.profile .drop-content .material-icons {
    padding-right: 5px;
}

.profile .drop-content .drop_item:hover {
    background-color: #d3d1d1;
}

.profile .show {
    display: block;
}
