::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    scrollbar-width: none;
    box-sizing: border-box;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    /*min-width:750px;*/
}

li, a, button, span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.header img {
    max-width: 150px;
    width: auto;
    height: min(9vh, 15vw);
    margin: 0px 10px 0px 10px;
}

.messages-box,.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.main {
    min-height: calc(100vh - 100px);
}



