/* CSS MAIN PAGE VIGNETTE */

.vignette {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;

}

.vignette img {
  display: block;
  height: 100%;
  width: auto;
}


.dropdown-menu {
    right: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    transform: scale(1.5);
}

.text-small {
  font-size: 0.9rem;
}

.card {
    border: 0;
}

.card-cover {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 0.75rem;
}
