<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="assets/logo.png">

        <!-- Bootstrap CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css" type="text/css" media="all">
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script charset="utf-8" src="script.js"></script>
            
        <title>Templatae</title>
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid header align-middle">
                <a class="navbar-brand text-align" href="mainpage.html" style="font-size: min(10vw, 3em)"><img src="assets/logo.png" alt="" class="d-inline-block align-text">CAR-A-OK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="mainpage.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="addGestionaire.html">Add Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="addAssurer.html">Add Assurer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="addContract.html">Add Contract</a>
                        </li>
                    </ul>
                    <form class="d-flex" action="template.html">
                        <button class="btn btn-outline-success" type="submit">Sign In</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- NAVBAR -->
        <!-- MAIN (FORM) -->
        <div class="container-xl main">
            <div style="padding: 30px"></div>
            <h1>Login</h1>
            <form action="" method="POST" accept-charset="utf-8">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control"  value="" name="email" id="username" placeholder="Example@example.com">                    
                    </div>
                    <div class="col-sm-6">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control"  value="" name="password" id="password">                    
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6" style="margin-top: 30px">
                        <button type="submit" class="btn btn-primary" name="signin">Sign In</button>
                        <button type="submit" class="btn btn-primary" name="cancel">Cancel</button>
                    </div>
                </div> 

            </form>
            <div style="padding: 30px"></div>
            <h1>Change  Address</h1> 
            <form>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Address..">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputVille" class="form-label">Ville</label>
                        <input type="text" class="form-control" id="inputVille" placeholder="Pau..">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputCP" class="form-label">Code Postal</label>
                        <input type="number" class="form-control" id="inputCodePostal">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6" style="margin-top: 30px">
                        <button type="submit" class="btn btn-primary" name="change">Change Address</button>
                        <button type="submit" class="btn btn-primary" name="cancel">Cancel</button>
                    </div>
                </div>
            <div style="padding: 30px"></div>
            <h1>Change Password</h1>
            <form action="" method="POST" accept-charset="utf-8">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="inputNewPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control"  value="" name="password1" id="password_check" onkeyup="check();">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputPassword2" class="form-label">Comfirm Password</label>
                        <input type="password" class="form-control"  value="" name="password2" id="password_confirm" onkeyup="check();">
                    </div>
                    <div id='passwordHelpBlock' class='form-text is-invalid'></div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6" style="margin-top: 30px">
                        <button id="password-change-button" type="submit" class="btn btn-primary" name="change">Change</button>
                        <button type="submit" class="btn btn-primary" name="cancel">Cancel</button>
                    </div>
                </div>
            </form>
            <div style="padding: 30px"></div>
        </form>
        </div>


        <!-- MAIN (FORM) -->
        <!-- FOOTER-->
        <footer class="text-center text-white bg-dark">
            <div class="container pt-4">
                <section class="mb-4">
                    <!-- Github -->
                    <a class="btn btn-link btn-floating btn-lg text-light m-1" href="https://github.com/Xx-Dream-Team-xX" role="button" data-mdb-ripple-color="light">
                        <i class="bi bi-github"></i>
                    </a>
                </section>
            </div>
            <div class="text-center text-light p-3">2021 Copyright:
                <a class="text-light" href="https://website.com/">Xx_DreemTeam_xX.com</a>
            </div>
        </footer>
        <!-- FOOTER-->
    </body>
    </html>

